@import 'styles/variables.scss';

body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: $font-body;
}

*h1 {
  font-family: $font-title;
}

input::placeholder {
  color:$placeholder;
}
