//Mixins sizes
$screen-tablet: 768px;
$screen-laptop: 1024px;

//Colors
$black: #17171A;
$black-primary: #000000;
$white: #F4F4F4;
$blue-primary: #5F68FA;
$blue: #312F77;


//Typographic
$font-family: 'helvetica';

$background: $black-primary;
$background-card: $black;
$font: $white;
$font-link: $blue;
$background-button: $blue-primary;