//Mixins sizes
$screen-tablet: 768px;
$screen-laptop: 1024px;

//Colors
$black: #24292E;
$white: #FAFBFC;
$grey: rgb(96, 98, 101);
$blue: #D6EBFE;


//Typographic
$font-family: 'helvetica';

$primary-color: $black;
$secondary-color: $white;
$primary-font-color: $grey;
$background-color: $blue