@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.nav-home {
  background: $background-card;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  img {
    display: flex;
    justify-content: center;
    margin: 16px;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

h1 {
  color: $font-color;
}

.card-profile {
  img {
    display: flex;
    justify-content: center;
    margin: auto auto;
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    border-radius: 50%;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  padding: 16px;
  margin: 8px auto 0 auto;
  background-color: rgba($color: $font-color, $alpha: 0.3);
  border-radius: 8px;
}
.button {
  width: 100%;
  margin-top: 8px;
  height: 36px;
  border-radius: 8px;
  background: $background-button;
  color: $font-color;
  border: none;
  cursor: pointer;
  font-family: $font-title;
  font-size: 16px;
}

.button:hover {
  background: $font-link;
}

.profile-details {
  font-size: 12px;
  color: $font-color;
  h2,
  p {
    margin: 0;
  }
  p {
    margin-bottom: 8px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
}

@include screen-tablet {
  .card-profile {
    position: absolute;
    margin-top: 24px;
    right: 24px;
  }
}

@include screen-laptop {
  .card-profile {
    position: absolute;
    right: 24px;
  }
}
