@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $background-card;
  border-radius: 8px;
}

p,
h1 {
  color: $font-color;
}

p {
  margin: 0;
}

.label {
  margin-bottom: 16px;
  color: $font-color;
}

.card-title {
  p,
  a {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
  }
  a:hover {
    color: $background-button;
  }
  text-align: center;
  margin: 16px 0;
}

.input-container {
  display: block;
  margin-top: 16px;
  padding: 0 16px;
}

.error {
  margin-top: 8px;
  color: #ff7961;
  font-size: 12px;
  text-align: right;
}

.form-input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8px;
  height: 36px;
  text-indent: 16px;
  background: $background-input;
  border: none;
  border-radius: 8px;
  color: $font-color;
}

.card-button {
  padding: 0 16px;
  margin: 16px 0;
}

.button {
  width: 100%;
  margin-top: 8px;
  height: 36px;
  border-radius: 8px;
  background: $background-button;
  color: $font-color;
  border: none;
  cursor: pointer;
  font-family: $font-title;
  font-size: 16px;
}

.button:hover {
  background: $font-link;
}

@include screen-tablet {
  .container {
    width: 40%;
    margin: 0 auto;
  }

  form {
    width: 60%;
    margin: 0 auto;
  }
}

@include screen-laptop {
  .container {
    width: 30%;
    margin: 0 auto;
  }

  form {
    width: 60%;
    margin: 0 auto;
  }
}
